In [2]:
#import
import pandas as pd
import numpy as np
import geocoder

In [6]:
df = pd.read_csv("file_name.csv")

In [110]:
file_name.dropna(inplace = True)

In [111]:
file_name.shape

(45, 3)

In [150]:
file_name.head()

,Org,Tipo_org,Ciudad,geocoder,lat,lng
0,Asociación de Residentes Senegaleses en Argent...,Mixta,"Buenos Aires, Argentina","[[Ciudad Autónoma de Buenos Aires, Comuna 6, A...",-34.607568,-58.437089
1,Asociación de Mujeres Senegalesas oriundas de ...,Mixta,"Buenos Aires, Argentina","[[Ciudad Autónoma de Buenos Aires, Comuna 6, A...",-34.607568,-58.437089
4,"Asociación de Nigerianos en el Río de la Plata,",Mixta,"Buenos Aires, Argentina","[[Ciudad Autónoma de Buenos Aires, Comuna 6, A...",-34.607568,-58.437089
5,Asociación de Amigos de las Islas de Cabo Verde,Mixta,"Buenos Aires, Argentina","[[Ciudad Autónoma de Buenos Aires, Comuna 6, A...",-34.607568,-58.437089
6,Asociación de Mujeres Afrodescendientes en la ...,Feminista,"Buenos Aires, Argentina","[[Ciudad Autónoma de Buenos Aires, Comuna 6, A...",-34.607568,-58.437089

In [113]:
file_name.rename(columns={"ORGANIZACIÓN ": "Org", "TIPO ORGANIZACIÓN ": "Tipo_org", 'ZONA GEOGRAFICA':'Ciudad'}, inplace = True)

In [114]:
file_name["Tipo_org"].value_counts()

Mixta         43
Feminista      2
Name: Tipo_org, dtype: int64

In [123]:
file_name["Ciudad"].value_counts()

Buenos Aires, Argentina           37
Santiago del Estero, Argentina     2
Córdoba, Argentina                 1
Chaco, Argentina                   1
Santa Fe, Argentina                1
Corrientes, Argentina              1
Mar del Plata, Argentina           1
Salta, Argentina                   1
Name: Ciudad, dtype: int64

In [73]:
#argentina["Ciudad"]= argentina["Ciudad"].str.replace('Buenos Aires ', "Buenos Aires, Argentina", case = False)

In [122]:
file_name["Ciudad"].value_counts().index

Index(['Buenos Aires, Argentina', 'Santiago del Estero, Argentina',
       'Córdoba, Argentina', 'Chaco, Argentina', 'Santa Fe, Argentina',
       'Corrientes, Argentina', 'Mar del Plata, Argentina',
       'Salta, Argentina'],
      dtype='object')

In [118]:
pais = file_name
def ciudadClean(ciudad):
    ciudad = ciudad.strip()
    if pais not in ciudad:
        ciudad = ciudad + ", " + pais
    return ciudad

In [119]:
argentina["Ciudad"]= argentina["Ciudad"].apply(ciudadClean)

In [128]:
argentina["geocoder"] = argentina["Ciudad"].apply(geocoder.osm)

In [140]:
def ciudadLat(geocoder):
    lat = geocoder.lat
    return lat

In [145]:
def ciudadLng(geocoder):
    lng = geocoder.lng
    return lng

In [141]:
argentina["lat"] = argentina["geocoder"].apply(ciudadLat)

In [146]:
argentina["lng"] = argentina["geocoder"].apply(ciudadLng)

In [149]:
argentina.to_csv("Argentina_clean.csv", index=False)